.container{
  height:100%;
  .header{
    position: relative;
    height:70px;
    background: #2e2e2e url("../../../assets/img/small_logo.png") no-repeat 0 50%;
    .nav{
      height: 100%;
      width:200px;
      margin: 0 auto;
      ul{
        height:100%;
        li{
          height:100%;
          margin-right: 20px;
          float: left;
          a{
            display: block;
            height: 100%;
            color: #fff;
            line-height: 80px;
            text-align: center;
            width: 60px;
          }
        }
      }
    }
    .user{
      position: absolute;
      top: 0;
      right: 20px;
    }
  }
}