$menuW:160px;
.container{
  position: relative;
  height:100%;
  .menu{
    height:100%;
    width:$menuW;
  }
  .body{
    position: absolute;
    left:$menuW;
    top:0;
    right:0;
    bottom:0;
    overflow: auto;
  }
}