body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}

img {
    border: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?6l89xu');
    src: url('../fonts/icomoon.eot?6l89xu#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?6l89xu') format('truetype'),
    url('../fonts/icomoon.woff?6l89xu') format('woff'),
    url('../fonts/icomoon.svg?6l89xu#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon_"], [class*="icon_"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    font-family: "Helvetica";
    /*font-size: 10px;*/
}

body {
    -webkit-user-select: none;
    user-select: none;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    /*-moz-osx-font-smoothing: grayscale;*/
    /*background: url("../img/body_bg.png") no-repeat fixed 0 0/100% 100%;*/
}

*, *:after, *:before {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

@media screen and (min-width: 480px) and (max-width: 639px) {
    html {
        font-size: 15px
    }
}

@media screen and (min-width: 640px) and (max-width: 719px) {
    html {
        font-size: 20px
    }
}

@media screen and (min-width: 720px) and (max-width: 749px) {
    html {
        font-size: 22.5px
    }
}

@media screen and (min-width: 750px) and (max-width: 799px) {
    html {
        font-size: 23.5px
    }
}

@media screen and (min-width: 800px) and (max-width: 959px) {
    html {
        font-size: 25px
    }
}

@media screen and (min-width: 960px) and (max-width: 1079px) {
    html {
        font-size: 30px
    }
}

@media screen and (min-width: 1080px) {
    html {
        font-size: 32px
    }
}