body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,figure,dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}

img {
    border: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}
@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?oo0d0h');
    src:    url('../fonts/icomoon.eot?oo0d0h#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?oo0d0h') format('truetype'),
    url('../fonts/icomoon.woff?oo0d0h') format('woff'),
    url('../fonts/icomoon.svg?oo0d0h#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon_"], [class*="icon_"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    font-family: "Helvetica Neue", "Hiragino Sans GB", "Segoe UI", "Microsoft Yahei", "微软雅黑", Tahoma, Arial, STHeiti, sans-serif;
}

body {
    min-width: 1000px;
    height:100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-font-smoothing: antialiased;
    background: url("../img/sws/theme_neptune.png") no-repeat fixed 0 0/100% 100%;
}

*, *:after, *:before {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
.react-root{
    height: 100%;
    position: relative;
}